.DS*
*.zip
*.pyc
*.jpeg
*.jpg 
*.png
*.gif
*.pptx
*.tar
*.ipynb_checkpoints


checkpoints/
data_manipulation.py
show_results.ipynb
unet.pdf


# ===== Exceptions ======
!schedulerLR.png
metrics.csv
!1_img_segmentation/1_unet_carvana/results/test/results/*.png
!1_img_segmentation/1_unet_carvana/results/test/*.png